SPRING_BOOT_PORT=8080
POSTGRES_PORT=5433
COMPOSE_PROJECT_NAME=j4mb-ledger

SPRING_DATASOURCE_URL=jdbc:postgresql://localhost:5433/j4mb_ledger
SPRING_DATASOURCE_USERNAME=j4mb
SPRING_DATASOURCE_PASSWORD=change-me
