target/
!.mvn/wrapper/maven-wrapper.jar

### IntelliJ IDEA ###
.idea/
*.iws
*.iml
*.ipr

### VS Code ###
.vscode/

### Env ###
.env
.env.*
!.env.sample

### OS ###
.DS_Store
Thumbs.db

### Logs ###
*.log
logs/

### Spring Boot ###
HELP.md
